@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --nav-height: 7rem;
    --max-scrn-width: 600px;
}

body,
html {
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: 'Century Gothic';
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* navigation bar starts */

.nav-main {
    position: fixed;
    top: 0%;

    --nav-font-size: 4rem;
    display: grid;
    place-items: center;
    height: var(--nav-height);
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    /* background-color: #f00; */
    backdrop-filter: blur(5rem);
    transition: all 500ms;

    z-index: 999;
}

nav {
    display: grid;
    justify-content: space-between;
    place-items: center;

    grid-template-columns: repeat(2, auto);

    color: #fff;
    height: max-content;
    font-size: var(--nav-font-size);
    width: 100%;
}

.portfolio-logo {
    margin-inline: 2rem;
    cursor: pointer;
    /* font-family: 'Bungee Shade', cursive; */
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Ewert', cursive; */
    font-family: 'Proza Libre', sans-serif;
    font-size: 3.5rem;
}

.theme-color {
    --theme-color: #f00;
    color: var(--theme-color);
    font-size: 1em;
}

.dropdown-menu {
    display: none;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    place-items: center;

    font-size: var(--nav-font-size);
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav li {
    position: relative;
}

nav li::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;

    width: 0%;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;

    transition: all 600ms;
}

nav li:hover::after {
    left: 0%;
    width: 100%;
}

@media (max-width : 600px) {
    .dropdown-menu {
        display: block;
    }

    nav ul[dropdown="false"] {
        /* display: none; */
        grid-template-columns: auto;
        transform: translateY(-100%);

        color: black;

        transition: transform 500ms;
    }

    nav ul[dropdown="true"] {
        grid-template-columns: auto;

        color: #fff;

        transform: translateY(0%);
        transition: transform 500ms;

        margin-bottom: 2rem;
    }

    .nav-main[dropdown="true"] {
        height: 18rem;
        transition: all 500ms;
    }

    .navbar {
        grid-column: 1 / 3;
        overflow: hidden;
    }

    .dropdown-menu {
        margin: 2rem;
    }
}

/* navigation bar ends */

/* body starts */

.data {
    background-color: beige;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    display: grid;
    place-items: center;
    font-size: 3rem;
}

.home {
    background-image: url("home.jpg");
    background-size: cover;
    color: #fff;

    text-transform: uppercase;
}

.home ul {
    list-style: none;
    font-size: 30px;
    width: 90vw;
}

.home li {
    margin: 2rem 0;
}

.home ul a {
    text-decoration: none;
    color: #fff;
}

.home .name {
    font-size: 4.5rem;
    display: flex;
    gap: 2rem;
}

.home .resume a {
    font-size: 1em;

    height: 5rem;
    width: 25rem;

    display: grid;
    place-items: center;

    background-color: hsla(0, 0%, 100%, 0.05);
    backdrop-filter: blur(2rem);

    cursor: pointer;
}

.home .resume a:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.home .description {
    font-weight: lighter;

    height: 2.5rem;
    width: max-content;
    font-size: 0.7em;

    position: relative;
}

/* cursor */

.home .description::after {
    content: "";
    position: absolute;
    right: -4px;

    background-color: #fff;
    height: 100%;
    width: 2px;
    border-radius: 1px;
}

.home .description[not-typing="true"]::after {
    animation: blink 800ms;
    animation-iteration-count: infinite;
}

#description {
    font-size: 1em;
    margin-inline-start: 0.5rem;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.about-me {
    /* background-color: #fff; */

    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: auto repeat(1, 1fr);
    place-items: center;

}

.inside-stuff {
    /* width: 80%; */
    width: 40vw;
    text-align: justify;
}


.contact {
    /* background-color: rosybrown; */
    grid-template-rows: auto 1fr auto;
    /* grid-template-columns: ret; */
}

.contact > .headings {
    /* gri */
    grid-column: span 1;
}

.contact .inside-stuff {
    width: 80vw;
}

.headings {
    --heading-padding: 2rem;
    padding: var(--heading-padding);
    
    padding-top: calc(var(--nav-height) + var(--heading-padding));
    /* background-color: #f00; */
    
    grid-column: span 2;
}

@media (max-width : 600px) {
    .inside-stuff {
        width: 90vw;
    }

    .headings {
        grid-column: span 1;
    }

    .about-me {
        grid-template-rows: auto repeat(2, 1fr);
    }
}

.footer {
    background-color: black;
    color: #fff;
    height: var(--nav-height);
    width: 100vw;

    display: grid;
    place-items: center;
}